@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
  --color-eq-blue: #2c3e50;
  --color-eq-yellow: #f5deb3;
  --color-eq-point: #c6f6dd;
  --color-eq-shelf: #8a689e;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
